*{
    margin: 0;
    padding: 0;
}

.wrap{
    width: 1000px;
}
.left{
    width: 210px;
    background-color: #aaa;
    float: left;
}
.logo{
    width: 100%;
    height: 50px;
    background-color: pink;
}
.nav{
    width: 100%;
    background-color: skyblue;
}

.right{
    width: 790px;
    float: left;
    background-color: lightblue;
}
.slide{
    width: 100%;
    height: 350px;
    background-color: lavenderblush;
}
.section{
    width: 100%;
    height: 200px;
    background-color: aliceblue;
}
.notice{
    width: 270px;
    height: 200px;
    background-color: azure;
    float: left;
}
.baner{
    width: 270px;
    height: 200px;
    background-color: thistle;
    float: left;
}
.short{
    width: 270px;
    height: 200px;
    background-color: honeydew;
    float: left;
}

.footer{
    width: 100%;
    height: 200px;
}
.logo2{
    width: 200px;
    height: 100px;
    background-color: azure;
    float: left;
}
.meno{
    width: 590px;
    height: 100px;
    background-color: thistle;
    float: left;
}
.menu{
    width: 100%;
    height: 50px;
    background-color: seashell;
}
.copy{
    width: 100%;
    height: 50px;
    background-color: snow;
}